<!DOCTYPE html>
<html lang="en">

<%- include('includes/head', {title: 'Something went wrong!'}) %>

<body>
  <%- include('includes/header') %>
  <main class="errorHandlerMain">
    <h1>Oops, something went wrong!</h1>
    <p>Unfortunately, something went wrong on our end - we're working on fixing it!</p>
  </main>
</body>

</html>