<!DOCTYPE html>
<html lang="en">
<%- include('includes/head', {title: 'Login'}) %>

    <body>
        <%- include('includes/header') %>
        <main>
            <div class="onboardingFormDiv">
                <h1>Login</h1>
                <form id="loginForm">
                    <input type="email" name="email" placeholder="name@example.com" required>
                    <input type="password" name="password" placeholder="password" required>
                    <button type="submit">Login</button>
                </form>
                <p class="errorP" id="message"></p>
                <p>Don't have an account? <a href="/signup">Sign Up</a></p>
            </div>
        </main>
        <script>
            document.getElementById('loginForm').addEventListener('submit', async (event) => {
                event.preventDefault();
                const form = event.target;
                const formData = new FormData(form);
                const data = Object.fromEntries(formData.entries());

                const response = await fetch('/login', {
                    method: 'POST',
                    headers: {
                        'Content-Type': 'application/json',
                    },
                    body: JSON.stringify(data),
                });

                const result = await response.json();
                if (response.ok) {
                    window.location.href = '/overview';
                } else {
                    document.getElementById('message').textContent = result.error;
                }
            });
        </script>
    </body>

</html>