<!DOCTYPE html>
<html>
<%- include('includes/head', {title: `${subdomain} - Syncset`}) %>
<body>
    <h1>Welcome to <%= subdomain %></h1>
    <p>This website is owned by: <%= email %></p>
</body>
</html> 