<!DOCTYPE html>
<html>
<%- include('includes/head', {title: 'Site Not Published'}) %>
<body>
    <div class="unpublishedContainer">
        <h1>This page is currently not published</h1>
        <br>
        <p>You can contact the owner or try again later</p>
    </div>
</body>
</html>
