/* Default styles */
:root {
    --primary-light-blue: #ebf8ff;
    --primary-purple: #9766f9;
    --primary-font: 'Poppins', sans-serif;
}

/* Main styles */
* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: white;
    margin: 0;
}

body main {
    margin: 1rem 3%;
}

#logo {
    width: 12rem;
    height: auto;
    margin: 1rem 3%;
}

/* Error messages */

.errorP {
    color: red;
}

/* Header style */

header {
    background-color: var(--primary-light-blue);
}

/* Onboarding styles */
.onboardingFormDiv {
    padding: 2rem;
    text-align: center;
    max-width: 30rem;
    margin: 0 auto;
}

.onboardingFormDiv h1 {
    font-size: 2rem;
    margin-bottom: 1rem;
}

.onboardingFormDiv input[type="email"],
.onboardingFormDiv input[type="password"],
.onboardingFormDiv button {
    width: calc(100% - 2rem);
    margin: 0.5rem 0;
    border-radius: 2rem;
    font-size: 1rem;
    box-sizing: border-box;
    font-family: var(--primary-font);
    outline: none;
}

.onboardingFormDiv input[type="email"],
.onboardingFormDiv input[type="password"] {
    border: 1px solid black;
    padding: 1rem;
}

.onboardingFormDiv button {
    background-color: var(--primary-purple);
    padding: 0.75rem;
    color: white;
    border: none;
    cursor: pointer;
    font-family: var(--primary-font);
}

.onboardingFormDiv p {
    margin-top: 0.5rem;
}

.onboardingFormDiv a {
    color: var(--primary-purple);
    text-decoration: none;
}

.onboardingFormDiv a:hover {
    text-decoration: underline;
}

/* Domain check onboarding */

#domainCheckWrapper {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin: 0.5rem auto;
    width: calc(100% - 2rem);
    max-width: 30rem;
    box-sizing: border-box;
    padding: 0;
}

#domainCheckWrapper span {
    font-weight: 600;
    white-space: nowrap;
    font-size: 1rem;
}

.domainInputWrapper {
    position: relative;
    flex: 1;
    display: flex;
    align-items: center;
}

#domainInput {
    width: 100%;
    padding-left: 1rem;
    padding-right: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    border: 1px solid black;
    border-radius: 2rem;
    font-size: 1rem;
    background-color: var(--primary-light-blue);
    outline: none;
    font-family: var(--primary-font);
    box-sizing: border-box;
}

#domainStatus {
    position: absolute;
    right: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-light-blue);
    z-index: 1;
}